@font-face {
  font-family: IRANSansWeb;
  src: url(./fonts/IRANSansWeb.ttf);
}
* {
  font-family: IRANSansWeb;
  transition: all 300ms;
  outline: none !important;
}
.nuxt-link-exact-active.link.link {
  border: 1px solid #fff;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter {
  transform: translateX(50px);
}
.page-leave-to {
  transform: translateX(-50px);
}
